.navbar {
    background-color: white;

}

section {
    overflow: hidden;
}

.nav-link {
    color: black !important;
    text-decoration: none;
    font-weight: bold;
}

.navbar-toggler {
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.568);
}

.navbar {
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out; 
    background-color: white;
    height: 70px;
}


.navbar.scrolled {
    background-color: #fffffffd; 
    padding: 10px 0;  
    transform: translateY(-10px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.quite {
    font-family: "Permanent Marker", serif;
    font-weight: 300;
}

.carousel-item {
    background-size: cover;
}

.lat {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 100px;
}

.section-3-h2 {
    padding-top: 60px;
    padding-bottom: 60px;

}
.section4 {
    background-color: #1A1A1A;
}

.p12 {
    text-align: justify;
}
.carousel-caption h1 {
    font-family: 'Permanent Marker', cursive;
    font-weight: 900;
}

.carousel-item img {
    object-fit: cover;
  
}

.carousel-caption {
    position: absolute;
    top: 40%;
    text-align: center;
}

@media (max-width: 768px) {
    .carousel-caption {
        top: 25%;
        margin-left: 5px;
        text-align: center;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }


    .navbar-collapse {
        position: absolute;
        top: 0;
        left: -100%; 
        width: 75%; 
        background-color: white; 
        transition: left 0.3s ease; 
        z-index: 1050;
        margin-top:20px;
        border-radius: 5px;
    }
    
    .navbar-collapse.show {
        left: 0; 
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; 
        margin-top: 50px; 
        opacity: 0;
        transform: translateX(-100%);
        transition: transform 0.2s ease , opacity 0.2s ease 0.1s;
    }

    .navbar-collapse.show .navbar-nav {
        opacity: 1;
        transform: translateX(0); 
    }

    .navbar-nav .nav-link {
        padding: 10px 20px;
        font-size: 1.2rem;
        color: #333;
        text-align: left;
    }

    
}



.img-fluid {
    max-width: 100%;
    height: auto;
}

.section1 {
    padding: 100px;
}


.section3 {
    background-color: #F8F2E7;
}

.card {
    border-radius: none;
}

.button1 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 80px;
    border: 1px solid black;
}

.footer {
    background-color: #000000;
}

.text {
    border-radius: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: none;
    outline: none;

}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(26, 90, 0);
    border-radius: 10px;
}

body {
    overflow-x: hidden;
}

.navbar-toggler {
    background-color: #ffffff67;
}

::selection {
    background-color: rgb(0, 95, 0);
}

.card1 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card1:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
